#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# See FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1)
# Package maintainers to append CFLAGS
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append CXXFLAGS
export DEB_CXXFLAGS_MAINT_APPEND = -Wall -pedantic

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DBUILD_SHARED_LIBS=ON \
		-DBUILD_STANDALONE=ON \
		-DENABLE_BLUEZ_ADVANCED=ON \
		-DENABLE_PERFORMANCE_OPTIMIZATION=ON

override_dh_auto_test:
	# Skip tests for now as they require BlueZ setup
	# dh_auto_test

override_dh_missing:
	dh_missing --fail-missing